@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: #6b73ff;
  --primary-light: rgba(107, 115, 255, 0.1);
  --bg-page: #f5f7fa;
  --text-main: #444;
  --text-secondary: #888;
  --radius: 0.5rem;
}
.main-content {
  padding-top: 5rem;
}